.news-container {
    width: 90%;
    margin: 0 auto;
    padding-top: 60px; /* Header absolute position check plz */
}

.topic-bar {
    margin-bottom: 32px;
}

.news-index {
    display: flex;
    font-size: 24px;
    padding: 16px;
    gap: 16px;
}

.index-good-text,
.index-bad-text {
    flex: 1;
    border-bottom: 1px solid #ddd;
}

.news-items {
    display: flex;
    width: 100%;
    gap: 16px;
}

.good_news-items,
.bad_news-items {
  width: 50%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.news-item {
    padding: 16px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 8px;
  }